extends ./layout

block content
    #wrapper
      include ./nav
      #page-wrapper
        include ./messages
        .container-fluid
          // Page Heading
          .row
            .col-md-10
              h1.page-header
                | #{Collection.pluralName}
              ol.breadcrumb
                li
                  i.fa.fa-dashboard
                  a(href=appPath) Admin
                li.active
                  i.fa.fa-
                  |  #{Collection.pluralName}
          // /.row
          if Collection.searchField
            .row
              .col-md-10
                .form-group.input-group-lg.input-group
                    input.typeahead.form-control(type='text', placeholder="Search by " + Collection.searchField)
                    span.input-group-btn
                      button.btn.btn-default(type='button')
                        i.fa.fa-search 

          .row
            .col-md-10
              a.btn.btn-success.btn-lg(href=Collection.collection.name + "/new") New #{Collection.modelName}


          .row
            .col-md-10
              h2 #{Collection.pluralName}
              .table-responsive
                table.table.table-bordered.table-hover.table-striped
                  thead
                    tr
                      th #
                      each field in Collection.adminPaths
                        th= field
                          a(href="?sortField=" + field + "&criteria=" + (criteria || ''))
                            i.fa.fa-sort.pull-right
                  tbody
                    each doc, i in docs
                        tr
                          td= 10 * page + (i + 1)
                            each field in Collection.adminPaths
                                td 
                                    a(href="#{appPath}/#{Collection.collection.name}/#{doc.id}") #{doc[field]}
              if (pages > 1)
                nav
                  ul.pagination
                    != paginate(pages, page)

block append scripts
  script(type='text/javascript').

      $('.typeahead').typeahead({
        displayText: function(item) {
          return item.value;
        },
        afterSelect: function(item) {
          window.location.href = window.location.href+'/'+item.id
        },
        source: function(term, process) {
        return $.ajax({
            dataType: "json",
            url: window.location.href.split('?')[0] + '/suggest',
            data: {term: term},
            type: 'POST',
            success: function (json) {
                process(json);
            }
        })
      }
      });