extends ./layout

block content
    #wrapper
      include ./nav
      #page-wrapper
        include ./messages
        .container-fluid
          if !doc
            .row
              .col-lg-12
                h1.page-header
                  #{Collection.modelName}
                ol.breadcrumb
                  li
                    i.fa.fa-dashboard
                    a(href=appPath) Admin
                  li.active
                    i.fa.fa-
                    a(href=appPath + '/' + Collection.collection.name)
                      | #{Collection.pluralName}
                  li
                    i.fa.fa-
            .row
              .col-lg-12
                h2 
                  <span class="text-warning">Can't find document with id</span> #{id}!
                      

          if doc
            .row
              .col-lg-12
                h1.page-header
                  #{Collection.modelName} #{doc.id}
                ol.breadcrumb
                  li
                    i.fa.fa-dashboard
                    a(href=appPath) Admin
                  li.active
                    i.fa.fa-
                    a(href=appPath + '/' + Collection.collection.name)
                      | #{Collection.pluralName}
                  li
                    i.fa.fa-
                    |  #{doc.id}
            .row
              .col-xs-8.col-xs-offset-2
                form(action="", method="post")
                  each path in Collection.adminPaths
                    include ./fields/fields
                  ul.list-inline
                    li
                      button.btn.btn-success(type='submit') Save
                    li
                      button.btn.btn-danger(type='submit' name="_method" value='DELETE') Delete
// textarea
block append scripts
  script(type='text/javascript').
          // bootstrap textareas
          tinymce.init({
              selector: "textarea"
              });

//date
block append scripts
  script(type='text/javascript').
    $(function () {
                $('.datetimepicker').datetimepicker();
            });
