extends ./layout

block content
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header
            | #{Collection.pluralName}
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href=appPath) Admin
            li.active
              i.fa.fa-
              |  #{Collection.pluralName}
      // /.row
      .row
        .col-md-10
          h2 #{Collection.pluralName}
          .table-responsive
            table.table.table-bordered.table-hover.table-striped
              thead
                tr
                  each field in Collection.adminFields
                    th= field
              tbody
                each doc in docs
                    tr
                        each field in Collection.adminFields
                            td 
                                a(href="/admin/#{Collection.collection.name}/#{doc.id}") #{doc[field]}
