.form-group(class=typeof errors[field] === "undefined" ? "" : "has-error")
    label
        input(name=field, type='checkbox', autofocus='', value=doc[field])
        | #{field}
    if errors[field]
        span.help-block.text-danger= errors[field].message